<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    /* Tùy chỉnh style bổ sung */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        background: rgba(255, 255, 255, 0.8);
        /* Độ mờ của hình nền */
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #fff;
        color: #121111;
        text-align: center;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 16px;
    }

    .form-control {
        border: 2px solid #007BFF;
        border-radius: 20px;
        /* Góc bo tròn 10px */
        padding: 15px;
        /* Khoảng cách bên trong ô nhập */

    }

    .btn-warnning {
        background-color: #FFC436;
        color: #121111;
        border: none;
    }

    .btn-warnning:hover {
        background-color: #fff;
        border-width: 1;
        border-color: #FFC436;
        color: #FFC436;
    }

    .form-link {
        color: #ff00ae;
        text-decoration: none;
    }

    .form-link:hover {
        text-decoration: underline;
    }

    .login-image {
        width: 300px;
        /* Độ rộng của hình ảnh */
        margin-right: 20px;
        /* Khoảng cách với khung đăng nhập */
    }

    .eye-icon {
        cursor: pointer;
    }
</style>
</head>

<body>
    <div class="container-fluid">
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex align-items-center justify-content-center h-100">
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        <img src="https://i.imgur.com/BfdQbsr.jpg" class="img-fluid" alt="Phone image">
                    </div>
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <div class="d-flex flex-row justify-content-between align-items-center mb-5" style="margin-inline: 16px;">
                            <p class="fs-1 text fw-bolder me-3">Đăng nhập</p>
                            <img src="https://i.imgur.com/L5vcAHf.png" alt="Logo PolyBarber" style="width: 100px; height: 100px;">
                        </div>
                        <form method="post" action="">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form1Example13" class="form-control form-control-lg"
                                    placeholder="Nhập username" name="username" required value="hungld27"/>
                            </div>

                            <!-- Password input -->
                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline col-12">
                                    <input type="password" id="password" class="form-control form-control-lg"
                                        placeholder="Nhập mật khẩu" name="pass" required value="111222"/>
                                </div>
                                <i class="fa-solid fa-eye" style="font-size: 24px; margin-left: -48px; cursor: pointer;"
                                    id="togglePassword" onclick="togglePasswordVisibility()"></i>
                            </div>

                            <div class="ms-3">
                                <p class="fs-6 text fw-semibold" style="color: red;"><%= msg %></p>
                            </div>


                            <div class="d-flex justify-content-around align-items-center mb-5">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form1Example3"
                                        checked />
                                    <label class="form-check-label" for="form1Example3"> Remember me </label>
                                </div>
                                <a href="#!">Forgot password?</a>
                            </div>

                            <!-- Submit button -->
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-warning mt-5 col-9 pt-2 pb-2 fs-4 text fw-medium rounded-5">Đăng
                                        nhập</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Sử dụng Bootstrap JS và Popper.js (tùy chọn) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var toggleIcon = document.getElementById('togglePassword');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }
    </script>
</body>