<div class="col-12 text-center" style="background-color:rgb(184, 171, 20); margin-top: 200px "
    class="cps-footer__bottom">
    <footer class="container-fuild c-footer ">
        <div class="container">
            <h1 style="font-weight: bold;font-family: Verdana, Geneva, Tahoma, sans-serif">PolyBarber</h1>
            <div class="copyright">
                <span>©2023 PolyBarber</span>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>