<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header -->
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="http://localhost:3000/">
                    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/378152636_756805516205033_9023472447757140310_n.png?stp=dst-png_p206x206&_nc_cat=101&ccb=1-7&_nc_sid=aee45a&_nc_ohc=r9dqCfZa_4UAX8XZEKV&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&cb_e2o_trans=t&oh=03_AdRhxg7tX8FMvbptufgGDmfN_q-YrHiTmRyUWAWKC5dIjw&oe=6530946D" width="80px">
                  </a>
                 
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Nhập tên sản phẩm,..." aria-label="Search">
         
                <button class="btn btn-warning" type="submit">Tìm</button>
            
              </form>
            
              <form class="d-flex">
                <a type="button" class="btn btn-warning" href="http://localhost:3000/settings/login">Đăng xuất</a>
              </form>
              <form class="d-flex">
                <a href="#">
                    <img src="https://as1.ftcdn.net/v2/jpg/03/14/85/06/1000_F_314850659_2aQLerz30kWj78tqpaGSbzYD6sAUmuDf.jpg" width="50px">
                </a>
              </form>
            
            </div>
          </nav>
    </header>