<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv=“refresh” content=“30”>
  <title>Poly Barber</title>
  <link rel="shortcut icon" type="image/png" href="../../public/uploads/logo.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- FONT GOOGLE -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,500&display=swap"
    rel="stylesheet">
  <!-- FONTAWARESOME -->
  <script src="https://kit.fontawesome.com/be081a0279.js" crossorigin="anonymous"></script>
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      font-family: 'Open Sans', sans-serif;
    }

    .content-main {
      flex: 1;
    }

    .pagetitle {
      margin-bottom: 10px;
    }

    .pagetitle h1 {
      font-size: 32px;
      margin-bottom: 0;
      font-weight: 600;
      color: #012970;
    }

    .profile .profile-card img {
      max-width: 120px;
    }

    .profile .profile-card h2 {
      font-size: 24px;
      font-weight: 700;
      color: #2c384e;
      margin: 10px 0 0 0;
    }

    .profile .profile-card h3 {
      font-size: 18px;
    }

    .profile .profile-card .social-links a {
      font-size: 20px;
      display: inline-block;
      color: rgba(1, 41, 112, 0.5);
      line-height: 0;
      margin-right: 10px;
      transition: 0.3s;
    }

    .profile .profile-card .social-links a:hover {
      color: #012970;
    }

    .profile .profile-overview .row {
      margin-bottom: 20px;
      font-size: 15px;
    }

    .profile .profile-overview .card-title {
      color: #012970;
    }

    .profile .profile-overview .label {
      font-weight: 600;
      color: rgba(1, 41, 112, 0.6);
    }

    .profile .profile-edit label {
      font-weight: 600;
      color: rgba(1, 41, 112, 0.6);
    }

    .profile .profile-edit img {
      max-width: 120px;
    }

    .card-item {
      transition: background-color 0.2s ease;
      /* Hiệu ứng chuyển động màu nền */
    }

    .card-item:hover:not(.selected) .card-body {
      background-color: #f0f0f0;
      /* Màu nền khi trỏ vào */
      cursor: pointer;
    }

    .card-item.selected .card-body {
      background-color: #cce5ff;
      /* Màu nền khi được chọn */
    }

    .custom-card-body {
      transition: background-color 0.2s ease;
      /* Hiệu ứng chuyển động màu nền */
    }

    .card-item:hover:not(.selected) .custom-card-body {
      background-color: #f0f0f0;
      /* Màu nền khi trỏ vào */
    }

    .card-item.selected .custom-card-body {
      background-color: #cce5ff;
      /* Màu nền khi được chọn */
    }

    .image-card-style {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .card-container-scroll {
      max-width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      /* Ngăn chặn xuống dòng */
    }

    .filter {
      position: absolute;
      right: 0px;
      top: 15px;
    }

    .filter .icon {
      color: #aab7cf;
      padding-right: 20px;
      padding-bottom: 5px;
      transition: 0.3s;
      font-size: 16px;
    }

    .filter .icon:hover,
    .filter .icon:focus {
      color: #4154f1;
    }

    .filter .dropdown-header {
      padding: 8px 15px;
    }

    .filter .dropdown-header h6 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #aab7cf;
      margin-bottom: 0;
      padding: 0;
    }

    .filter .dropdown-item {
      padding: 8px 15px;
    }

    /* Info Cards */
    .info-card {
      padding-bottom: 10px;
    }

    .info-card h6 {
      font-size: 28px;
      color: #012970;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }

    .card-icon {
      font-size: 32px;
      line-height: 0;
      width: 64px;
      height: 64px;
      flex-shrink: 0;
      flex-grow: 0;
    }

    .sales-card .card-icon {
      color: #4154f1;
      background: #f6f6fe;
    }

    .revenue-card .card-icon {
      color: #2eca6a;
      background: #e0f8e9;
    }

    .customers-card .card-icon {
      color: #ff771d;
      background: #ffecdf;
    }

    /* Activity */
    .activity {
      font-size: 14px;
    }

    .activity .activity-item .activite-label {
      color: #888;
      position: relative;
      flex-shrink: 0;
      flex-grow: 0;
      min-width: 64px;
    }

    .activity .activity-item .activite-label::before {
      content: "";
      position: absolute;
      right: -11px;
      width: 4px;
      top: 0;
      bottom: 0;
      background-color: #eceefe;
    }

    .activity .activity-item .activity-badge {
      margin-top: 3px;
      z-index: 1;
      font-size: 11px;
      line-height: 0;
      border-radius: 50%;
      flex-shrink: 0;
      border: 3px solid #fff;
      flex-grow: 0;
    }

    .activity .activity-item .activity-content {
      padding-left: 10px;
      padding-bottom: 20px;
    }

    .activity .activity-item:first-child .activite-label::before {
      top: 5px;
    }

    .activity .activity-item:last-child .activity-content {
      padding-bottom: 0;
    }

    /* News & Updates */
    .news .post-item+.post-item {
      margin-top: 15px;
    }

    .news img {
      width: 80px;
      float: left;
      border-radius: 5px;
    }

    .news h4 {
      font-size: 15px;
      margin-left: 95px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .news h4 a {
      color: #012970;
      transition: 0.3s;
    }

    .news h4 a:hover {
      color: #4154f1;
    }

    .news p {
      font-size: 14px;
      color: #777777;
      margin-left: 95px;
    }

    /* Recent Sales */
    .recent-sales {
      font-size: 14px;
    }

    .recent-sales .table thead {
      background: #f6f6fe;
    }

    .recent-sales .table thead th {
      border: 0;
    }

    .recent-sales .dataTable-top {
      padding: 0 0 10px 0;
    }

    .recent-sales .dataTable-bottom {
      padding: 10px 0 0 0;
    }

    /* Top Selling */
    .top-selling {
      font-size: 14px;
    }

    .top-selling .table thead {
      background: #f6f6fe;
    }

    .top-selling .table thead th {
      border: 0;
    }

    .top-selling .table tbody td {
      vertical-align: middle;
    }

    .top-selling img {
      border-radius: 5px;
      max-width: 60px;
    }

    @media (min-width: 768px) {
      .dropdown-menu-arrow::before {
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -7px;
        right: 20px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
      }
    }

    @keyframes dropdown-animate {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }

      0% {
        opacity: 0;
      }
    }

    #main {
      /* margin-top: 60px; */
      padding: 20px 30px;
      transition: all 0.3s;
    }

    @media (max-width: 1199px) {
      #main {
        padding: 20px;
      }
    }

    .description-column {
      width: 100px;
    }

    .center-image {
      margin-left: 20px;
    }

    .highlight {
      transition: transform 0.3s;
    }

    .highlight:hover {
      transform: scale(1.2);
    }
    .container{
      max-width: 1440px;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:3000/home">
        <img src="https://i.imgur.com/L5vcAHf.png" width="80px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="flex-sm-fill text-sm-center nav-item nav-link me-5">
            <a class="nav-link highlight" href="http://localhost:3000/home" style="font-weight: bold; color: #000;">LỊCH
              ĐẶT</a>
          </li>

          <li class="flex-sm-fill text-sm-center nav-item nav-link me-5">
            <a class="nav-link highlight" href="http://localhost:3000/dichvu"
              style="font-weight: bold; color: #000;">DỊCH VỤ</a>
          </li>

          <li class="flex-sm-fill text-sm-center nav-item nav-link me-5">
            <a class="nav-link highlight" href="http://localhost:3000/product"
              style="font-weight: bold; color: #000;">CÁC SẢN PHẨM</a>
          </li>

          <li class="flex-sm-fill text-sm-center nav-item nav-link dropdown me-5">
            <a class="nav-link dropdown-toggle" style="font-weight: bold; color: #000;" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              THỐNG KÊ
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="http://localhost:3000/statistic/thongkebanhang">Thống kê bán hàng</a>
              </li>
              <li><a class="dropdown-item" href="http://localhost:3000/statistic/thongketheolichcat">Thống kê dịch vụ
                  cắt tóc</a></li>
            </ul>
          </li>

          <li class="flex-sm-fill text-sm-center nav-item nav-link me-5">
            <a class="nav-link highlight" href="http://localhost:3000/oder" style="font-weight: bold; color: #000;">ĐƠN
              HÀNG</a>
          </li>

          <li class="flex-sm-fill text-sm-center nav-item nav-link me-5">
            <a class="nav-link highlight" href="http://localhost:3000/user"
              style="font-weight: bold; color: #000;">KHÁCH HÀNG</a>
          </li>

          <li class="flex-sm-fill text-sm-center nav-item nav-link me-5">
            <a class="nav-link highlight" href="http://localhost:3000/import"
              style="font-weight: bold; color: #000;">HÀNG NHẬP VỀ</a>
          </li>

        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown pe-3">

            <a class="nav-link highlight nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <span class="d-none d-md-block dropdown-toggle ps-2 fw-semibold">
                <% if (user) { %>
                  <%= user.username %>
                    <% } else { %>
                      Đăng nhập
                      <% } %>
              </span>
            </a>
            <!-- End Profile Iamge Icon -->


            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>
                  <% if (user) { %>
                    <%= user.username %>
                      <% } else { %>
                        Đăng nhập
                        <% } %>
                </h6>
                <span>Admin</span>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li class="flex-sm-fill text-sm-center nav-link">
                <!-- xử lý đăng xuất, không thay đổi đường dẫn -->
                <a class="nav-link" href="/settings/dang-xuat" style="font-weight: bold;color: #000;">Đăng xuất</a>
              </li>

            </ul><!-- End Profile Dropdown Items -->
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="content-main">