<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poly Barber</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style>
          .description-column {
            width: 100px; 
          }
          .center-image{
            margin-left: 20px;
          }
          .highlight {
            transition: transform 0.3s;
          }

          .highlight:hover {
            transform: scale(1.2);
          }
  
        </style>
    
</head>

<body>  
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="nav nav-pills flex-column flex-sm-row nav-item dropdown">
            <li>
              <a class="navbar-brand" href="http://localhost:3000/home">
                <img src="https://i.imgur.com/L5vcAHf.png" width="80px">
              </a>
            </li>

            <form class="d-flex" style="height: 30px; margin-top: 20px;">
              <input class="form-control me-2" type="search" placeholder="Nhập tên cầm tìm" aria-label="Search">
       
              <button class="btn btn-light fw-semibold"type="submit">Tìm</button>
          
            </form>

            <li class="flex-sm-fill text-sm-center nav-link" style="margin-top: 10px;">
              <a class="nav-link highlight" href="http://localhost:3000/home" style="font-weight: bold; color: #000;">LỊCH ĐẶT</a>
            </li>
            <li class="flex-sm-fill text-sm-center nav-link" style="margin-top: 10px;">
              <a class="nav-link highlight" href="http://localhost:3000/dichvu" style="font-weight: bold; color: #000;">DỊCH VỤ</a>
            </li>
          
            <li class="flex-sm-fill text-sm-center nav-link" style="margin-top: 10px;">
              <a class="nav-link highlight" href="http://localhost:3000/product" style="font-weight: bold; color: #000;">CÁC SẢN PHẨM</a>
            </li>
            <li class="flex-sm-fill text-sm-center nav-link" style="margin-top: 10px;">
              <a class="nav-link highlight" href="#" style="font-weight: bold; color: #000;">GIỚI THIỆU</a>
            </li>
            <li class="flex-sm-fill text-sm-center nav-link" style="margin-top: 10px; margin-left: 160px;">
              <!-- xử lý đăng xuất, không thay đổi đường dẫn -->
              <a class="nav-link highlight" href="settings/dang-xuat" style="font-weight: bold;color: #000;">Đăng xuất</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>