<%- include('../inc/header.ejs') %>
    <h1 style="font-weight: bold; text-align: center; margin-top: 20px;">Thêm mới dịch vụ</h1>

    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            <form class="px-4 py-3">
                <label class="form-label">Tên dịch vụ</label>
                <input type="text" name="name" placeholder="Tên dịch vụ" class="form-control"><br>
                <label class="form-label">Giá</label>
                <input type="text" name="price" placeholder="Giá" class="form-control"><br>
                <label class="form-label">Loại</label>
                <input type="text" name="type" placeholder="Loại" class="form-control"><br>
                <div class="mb-3">
                    <label class="form-label">Hình ảnh</label>
                    <label for="formFileMultiple" class="form-label"></label>
                    <input class="form-control" type="file" name="file_anh" id="formFileMultiple" multiple>
                </div>
                <label class="form-label">Mô tả</label>
                <input type="text" name="describe" placeholder="Mô tả" class="form-control"><br>
                <button class="btn btn-warning" type="submit">Lưu</button>
                <%= msg %>
            </form>
        </form>
    </div>
<%- include('../inc/footer.ejs') %>