<%- include('../inc/header.ejs') %>

  <div class="container-fluid">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://shop.30shine.com/_next/image?url=https%3A%2F%2Fstatic.30shine.com%2Fshop-web%2Fbanners%2FbannerT0723-3.jpg&w=1920&q=75" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="https://storage.30shine.com/ResourceWeb/data/images/home/20220104-30shine-banner-shine-combo-1.jpg?v=1" class="d-block w-100" alt="#">
        </div>
        <div class="carousel-item">
          <img src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-spa/30shine-spa-pc.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

<%- include('../inc/footer.ejs') %>

