<%- include('../inc/header.ejs') %>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand">MENU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav nav-pills flex-column flex-sm-row nav-item dropdown">
          <li class="flex-sm-fill text-sm-center nav-link">
            <a  style="font-weight: bold; color: #000;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              DANH MỤC
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here con cac</a></li>
            </ul>
          </li>
          <li class="flex-sm-fill text-sm-center nav-link">
            <a class="nav-link" href="http://localhost:3000/dichvu" style="font-weight: bold; color: #000;">DỊCH VỤ</a>
          </li>
          <li class="flex-sm-fill text-sm-center nav-link">
            <a class="nav-link" href="http://localhost:3000/salon" style="font-weight: bold; color: #000;">SALON TOÀN QUỐC</a>
          </li>
          <li class="flex-sm-fill text-sm-center nav-link nav-item dropdown">
            <a style="font-weight: bold; color: #000;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              THƯƠNG HIỆU
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="flex-sm-fill text-sm-center nav-link">
            <a class="nav-link" href="#" style="font-weight: bold; color: #000;">GIỚI THIỆU</a>
          </li>
          <li class="flex-sm-fill text-sm-center nav-link">
            <a class="nav-link" href="#" style="font-weight: bold;color: #000;">BLOG</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://shop.30shine.com/_next/image?url=https%3A%2F%2Fstatic.30shine.com%2Fshop-web%2Fbanners%2FbannerT0723-3.jpg&w=1920&q=75" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
          <img src="https://storage.30shine.com/ResourceWeb/data/images/home/20220104-30shine-banner-shine-combo-1.jpg?v=1" class="d-block w-100" alt="#">
        </div>
        <div class="carousel-item">
          <img src="https://storage.30shine.com/ResourceWeb/data/images/home/30shine-spa/30shine-spa-pc.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

<%- include('../inc/footer.ejs') %>

