<%- include('../inc/header.ejs') %>
<h1 style="font-weight: bold; text-align: center;">Thêm mới Salon</h1>
<%= msg %>
<div class="container">
<form action="" method="post" enctype="multipart/form-data">
    <form class="px-4 py-3">
    <label class="form-label">Tên salon</label>
    <input type="text" name="name" placeholder="Tên sản phẩm" class="form-control"><br>
    <label class="form-label">Địa chỉ</label>
    <input type="text" name="address" placeholder="Địa chỉ" class="form-control"><br>
    <label class="form-label">Mô tả</label>
    <input type="text" name="describe" placeholder="Mô tả" class="form-control"><br>
    <div class="mb-3">
        <label class="form-label">Hình ảnh</label>
        <label for="formFileMultiple" class="form-label"></label>
        <input class="form-control" type="file" name="file_anh" id="formFileMultiple" multiple>
        </div>
    <label class="form-label">SĐT</label>
    <input type="text" name="phone" placeholder="SĐT" class="form-control"><br>
    <label class="form-label">Đánh giá</label>
    <input type="text" name="evalute" placeholder="Đánh giá" class="form-control"><br>
    <button class="btn btn-danger" type="submit">Save</button>
</form>
</form>
</div>
<%- include('../inc/footer.ejs') %>