<%- include('../inc/headerHompage.ejs') %>

<div class="container" style="width: 1100px; ">
    <!-- <img src="https://i.imgur.com/PvioF8T.png" width="1050px" height="400px"
        style=" box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); border-radius: 10px; margin-top: 10px;"> -->

    <h2 style="margin-top: 20px; margin-left: 80px;"> <strong>Dịch vụ tóc</strong></h2>

    <div>
        <div class="hihi" style="margin-left: 80px;">
            <a href="http://localhost:3000/home">
              <img src="https://cdn3.dhht.vn/wp-content/uploads/2023/09/16-barber-shop-la-gi-top-15-barber-shop-noi-tieng-nhat-hien-nay.jpg">
            </a>
            <div class="description">
              <h5><strong>Cắt tóc</strong></h5>
              <p>Giá chỉ từ: 70.000đ</p>
            </div>
        </div>

        <div class="hihi" style="margin-right: 50px;">
            <a href="http://localhost:3000/home">
                <img src="https://vietnamnexttopmodel.com/wp-content/uploads/2022/12/Kieu-toc-layer-nam-ngan-08.jpg">
            </a>
            <div class="description">
              <h5><strong>Uốn định hình</strong></h5>
              <p>Giá chỉ từ: 119.000đ </p>
            </div>
    
        </div>
        
        <div class="hihi" >
            <a href="http://localhost:3000/home">
                <img src="https://4rau.vn/upload/images/z2308235206460_4a1739189968187755f9ebdaec772c08.jpg">
            </a>
            <div class="description">
              <h5><strong>Thay đổi màu tóc</strong></h5>
              <p>Giá chỉ từ: 135.000đ </p>
            </div>
    
        </div>
    </div>

    <h2 style="margin-top: 20px; margin-left: 80px;"> <strong>Spa & Relax</strong></h2>

    <div>
        <div class="hihi" style=" margin-left: 80px;">
            <a href="http://localhost:3000/home">
                <img src="https://nulibeauty.com/wp-content/uploads/2021/03/goi-dau-thu-gian.jpg" >
            </a>
            <div class="description">
              <h5><strong>Gội Massage Relax</strong></h5>
              <p>Giá chỉ từ: 120.000đ </p>
            </div>
    
        </div>

        <div class="hihi" style="margin-right: 50px;">
            <a href="http://localhost:3000/home">
                <img src="https://easysalon.vn/wp-content/uploads/2020/06/kinh-doanh-spa-nam-gioi-can-gi-1.jpg" >
            </a>
            <div class="description">
              <h5><strong>Chăm sóc da Spa</strong></h5>
              <p>Giá chỉ từ: 189.000đ </p>
            </div>
    
        </div>
        
        <div class="hihi">
            <a href="http://localhost:3000/home">
                <img src="https://blog.30shine.com/wp-content/uploads/2019/08/Webp.net-resizeimage-71-1.jpg">
            </a>
            <div class="description">
              <h5><strong>Lấy ráy tai êm</strong></h5>
              <p>Giá chỉ từ: 50.000đ </p>
            </div>
    
        </div>
    </div>

    <h2 style="margin-top: 20px; margin-left: 80px;"> <strong>Fpoly Barber shop</strong></h2>
    
    <div class="container">
        <div class="slider">

            <div  class="slider-item"> 
                <div class="hihi" style="width: 200px; height: 300px;">
                        <img style="width: 200px; height: 200px;"
                            src="https://product.hstatic.net/1000246396/product/volcanic-clay-2018-min_d99e8a7f9727496dab8b7aed487651c3_master.jpg" >
                    </a>
                    <div class="description">
                    <p><strong>Sáp vuốt tóc<br>Apestomen Volcanic Clay</strong></p>
                    <p>Giá: 120.000đ </p>
                    </div>
            
                </div>
            </div>
            <div  class="slider-item"> 
                <div class="hihi" style=" width: 200px; height: 300px;">
                        <img style="width: 200px; height: 200px;"
                            src="https://product.hstatic.net/1000246396/product/1_98f94bcb2be747bd93ebfb8c96307004_master.jpg" >
                    </a>
                    <div class="description">
                    <p><strong>Sáp vuốt tóc<br>Kevin Rough Rider</strong></p>
                    <p>Giá: 650.000đ </p>
                    </div>
            
                </div>
            </div>
            <div  class="slider-item"> 
                <div class="hihi" style=" width: 200px; height: 300px;">
                        <img style="width: 200px; height: 200px;"
                            src="https://product.hstatic.net/1000246396/product/blumaanpaste_737534b8cc064ecf84248eab82fdadd7_master.png" >
                    </a>
                    <div class="description">
                    <p><strong>Sáp vuốt tóc<br>Blumaan sư tử</strong></p>
                    <p>Giá: 500.000đ </p>
                    </div>
            
                </div>
            </div>
            <div  class="slider-item"> 
                <div class="hihi" style=" width: 200px; height: 300px;">
                        <img style="width: 200px; height: 200px;"
                            src="https://product.hstatic.net/1000246396/product/bulldog-sensitive-combo_7000c9fb7a5e4e2896943fc574e72a1d_master.jpg" >
                    </a>
                    <div class="description">
                    <p><strong>Bộ 3 sản phẩm<br> Bulldog</strong></p>
                    <p>Giá: 730.000đ </p>
                    </div>
            
                </div>
            </div>
            <div  class="slider-item"> 
                <div class="hihi" style=" width: 200px; height: 300px;">
                        <img style="width: 200px; height: 200px;"
                            src="https://product.hstatic.net/1000246396/product/s2240356-main-zoom_2140c28738db491dbf21fe3dda3a3014_master.png" >
                    </a>
                    <div class="description">
                    <p><strong>Dưỡng ẩm Clinique For Men Eye</strong></p>
                    <p>Giá: 990.000đ </p>
                    </div>
            
                </div>
            </div>
            <div  class="slider-item"> 
                <div class="hihi" style=" width: 200px; height: 300px;">
                        <img style="width: 200px; height: 200px;"
                            src="https://product.hstatic.net/1000246396/product/bath-sponge_d6303bffab794556b54af1fc923698c4_master.jpeg" >
                    </a>
                    <div class="description">
                    <p><strong>Bông tẩm than tre<br>Natural Charcoal</strong></p>
                    <p>Giá: 30.000đ </p>
                    </div>
            
                </div>
            </div>
            <div  class="slider-item"> 
                <div class="hihi" style=" width: 200px; height: 300px;">
                        <img style="width: 200px; height: 200px;"
                            src="https://product.hstatic.net/1000246396/product/duong-am-bulldog-original_30e1985b5e044a3d8cef5c82fb27cae5_master.jpg" >
                    </a>
                    <div class="description">
                    <p><strong>Kem dưỡng ẩm da<br> Bulldog Original</strong></p>
                    <p>Giá: 320.000đ </p>
                    </div>
            
                </div>
            </div>
            <div  class="slider-item"> 
                <div class="hihi" style=" width: 200px; height: 300px;">
                        <img style="width: 200px; height: 200px;"
                            src="https://product.hstatic.net/1000246396/product/s786871-main-zoom_fa04f808a51944cf80971c1c779c30d9_master.png" >
                    </a>
                    <div class="description">
                    <p><strong>Lăn khử mùi <br>Clinique For Men</strong></p>
                    <p>Giá: 560.000đ </p>
                    </div>
            
                </div>
            </div>
            <div  class="slider-item"> 
                <div class="hihi" style=" width: 200px; height: 300px;">
                        <img style="width: 200px; height: 200px;"
                            src="https://product.hstatic.net/1000246396/product/combo-bulldog_dddf9cc3858349cfacd2d6ef62c65436_master.jpeg" >
                    </a>
                    <div class="description">
                    <p><strong>Combo dao cạo<br>+ 4 lưỡi thép thay thế</strong></p>
                    <p>Giá: 72.000đ </p>
                    </div>
            
                </div>
            </div>

        </div>
            <div class="slider-arrow slider-arrow-left">&lt;</div>
            <div class="slider-arrow slider-arrow-right">&gt;</div>
    </div>

    <h2 style="margin-top: 20px; margin-left: 80px;"> <strong>Dịch vụ chuyên nghiệp</strong></h2>

    <div style=" width: 1050px ;display: flex; justify-content: space-between;">
        <div style="margin-left: 80px;">
          <img src="https://sapvuottocnam.com/wp-content/uploads/2021/07/barber-shop-anh-bia.jpg" style="width:280px; height: 200px;">
          <h5>Barber rộng dễ tìm</h5>   
        </div>
      
        <div >
          <img src="https://sv1.tocvasao.net/files/---004/10/m%E1%BA%ABu%20tattoo%20d%E1%BA%B9p%20nh%E1%BA%A5t.jpg" style="width:280px; height: 200px;">
          <h5>Dịch vụ chất lượng</h5>   
        </div>
        
        <div >
          <img src="https://storage.30shine.com/ResourceWeb/data/images/landingpage/8lydo/ld-datlich/dat-lich-cat-toc-tien-loi-15.jpg" style="width: 280px; height: 200px;">
          <h5>Làm chủ thời gian</h5>   
        </div>
    </div>

</div>

<%- include('../inc/footer.ejs') %>