<%- include('../inc/headerHompage.ejs') %>

<div class="container" style="width: 1100px; ">

    <h2 style="margin-top: 20px; margin-left: 80px;"> <strong>Giới thiệu về Fpoly Barber</strong></h2>
        <p style="margin-left: 80px; font-size: 20px;">Fpoly Barber là Barber (lifestyle platform) phục vụ nhu cầu cắt tóc, gội đầu (relax), spa và cung cấp đa dạng sản phẩm chất lượng cao dành riêng cho nam giới.
            Fpoly Barber đầu tư mạnh mẽ vào nền tảng công nghệ giúp nâng cao trải nghiệm dịch vụ, hiệu suất vận hành, đồng thời liên tục nghiên cứu và phát triển các dịch vụ và trải nghiệm mới phù hợp với nhu cầu khách hàng nam giới hiện đại.</p>
    <div style=" width: 1050px ;display: flex; justify-content: space-between;">
        <div style="margin-left: 80px;">
            <img src="https://sapvuottocnam.com/wp-content/uploads/2021/07/barber-shop-anh-bia.jpg" style="width:280px; height: 200px;">         
        </div>    
        <div >
            <img src="https://sv1.tocvasao.net/files/---004/10/m%E1%BA%ABu%20tattoo%20d%E1%BA%B9p%20nh%E1%BA%A5t.jpg" style="width:280px; height: 200px;">              
       </div>
        
        <div >
            <img src="https://cafefcdn.com/thumb_w/640/203337114487263232/2021/6/22/photo1624341603241-1624341603350307035612.jpg" style="width: 280px; height: 200px;">              
        </div>
    </div>
                
    <h2 style="margin-top: 20px; margin-left: 80px;"> <strong>Sứ mệnh</strong></h2>
        <p style="margin-left: 80px; font-size: 20px;">Fpoly Barber không ngừng quan tâm và lan tỏa niềm tin tới mọi người để cùng đổi mới và có cuộc sống ý nghĩa hơn.</p>

    <h2 style="margin-top: 20px; margin-left: 80px;"> <strong>Tầm nhìn</strong></h2>
        <p style="font-size: 20px; margin-left: 80px;">Với Khách hàng: Fpoly Barber là một nền tảng cho nam giới hiện đại (LifeStyle Platform for Men) thỏa mãn đa dạng nhu cầu của hàng triệu khách hàng.
            Với Anh em: Fpoly Barber là một môi trường năng động, nơi anh em có thể tự hào, thỏa sức học hỏi, cống hiến để vươn tới cuộc sống sung túc và hạnh phúc. </p>
</div>
<%- include('../inc/footer.ejs') %>